{% extends "base.html" %}

{% block title %}
    {{ dish.name }}
{% endblock %}

{% block content %}
    {% if dish %}
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h1 class="card-title">{{ dish.name }}</h1>
                <p class="card-text">{{ dish.description }}</p>
                <p class="card-text">{{ dish.price_for_one }}</p>
                <p class="card-text">{{ dish.notes }}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}