{% extends "base.html" %}

{% block title %}
    Baristas page
{% endblock %}

{% block lists %}
    {% include "cafe/owner/navigation_owner.html" %}
{% endblock %}

{% block content %}

    <div class="text-left py-3">
        <a class="btn btn-primary" href="{% url "cafe:add_barist" %}">Add new barista</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        {% if baristas %}
            {% for barista in baristas %}
                <tr>
                    <td>{{ barista.name }}</td>
                    <td>{{ barista.surname }}</td>
                    <td>{{ barista.phone }}</td>
                    <td>{{ barista.email }}</td>
                </tr>
                {% if barista.notes %}
                <tr>
                    <td colspan="4"><details><summary>Notes</summary><p>{{ barista.notes }}</p></details></td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No notes.</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}