{% extends "base.html" %}

{% block title %}
    Bills page
{% endblock %}

{% block lists %}
    {% if role == "owner" %}
        {% include "cafe/owner/navigation_owner.html" %}
    {% endif %}
    {% if role == "barista" %}
        {% include "cafe/owner/navigation_barista.html" %}
    {% endif %}
    {% if role == "admin" %}
        {% include "cafe/owner/navigation_admin.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row py-4">
        <div class="col">
            <a class="btn btn-primary" href="{% url "cafe:add_bill" %}">Add new bill</a>
        </div>
        <div class="col">
            <form method="post" action="{% url "cafe:searchBill" %}">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group">
                        <select name="selectBarist" class="selectpicker form-control">
                            <option value="?" disabled selected>Choose barist</option>
                            {% for barist in barists %}
                                <option value="{{ barist.ipn }}">{{ barist.surname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="selectDish" class="selectpicker form-control">
                            <option value="?" disabled selected>Choose dish</option>
                            {% for dish in dishes %}
                                <option value="{{ dish.id }}">{{ dish.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <form method="post" action="{% url "cafe:bills_with_foods_drinks" %}">
                {% csrf_token %}
                <input type="submit" class="form-control btn btn-primary" value="Bills where foods and drinks">
            </form>
        </div>
        <div class="col">
            <form method="post" action="{% url "cafe:quantity_of_bills" %}">
                {% csrf_token %}
                <input type="date" name="selectDate" class="form-control">
                <select name="selectBarist" class="selectpicker form-control">
                    <option value="?" disabled selected>Choose barist</option>
                    {% for barist in barists %}
                        <option value="{{ barist.ipn }}">{{ barist.surname }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="form-control btn btn-primary" value="Quantity of bills and barista">
            </form>
        </div>
    </div>
    {% if barist_count %}
        <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Barist name</th>
            <th scope="col">Count</th>
        </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ barist_count.barist.name }}</td>
                    <td>{{ barist_count.bills_count }}</td>
                </tr>
        </tbody>
    </table>
    {% else %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col"><a href="{% url "cafe:sort_bills" vector %}" id="sort_bills"
                               style="color: black">Datetime<span>
                {% if vector == 0 %}
                    &#9660;
                {% else %}
                    &#9650;
                {% endif %}
            </span></a></th>
            <th scope="col">Barist name</th>
            <th scope="col">Detail</th>
        </tr>
        </thead>
        <tbody>
        {% if bills %}
            {% for bill in bills %}
                <tr>
                    <th scope="row">{{ bill.id }}</th>
                    <td>{{ bill.datetime }}</td>
                    <td>{{ bill.barist.surname }}</td>
                    <td><a href="{% url "cafe:bill_detail" bill.id %}" class="btn btn-primary">Print</a></td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}