{% extends "base.html" %}

{% block title %}
    Bills page
{% endblock %}

{% block lists %}
    {% if role == "owner" %}
        {% include "cafe/owner/navigation_owner.html" %}
    {% endif %}
    {% if role == "barista" %}
        {% include "cafe/owner/navigation_barista.html" %}
    {% endif %}
    {% if role == "admin" %}
        {% include "cafe/owner/navigation_admin.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="text-center">
        <a class="btn btn-primary" href="{% url "cafe:add_bill" %}">Add new bill</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Datetime</th>
            <th scope="col">Barist name</th>
            <th scope="col">Detail</th>
        </tr>
        </thead>
        <tbody>
        {% if bills %}
            {% for bill in bills %}
                <tr>
                    <th scope="row">{{ bill.id }}</th>
                    <td>{{ bill.datetime }}</td>
                    <td>{{ bill.barist_name }}</td>
                    <td><a href="{% url "cafe:bill_detail" bill.id %}" class="btn btn-primary">Print</a></td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

{% endblock %}