{% extends "base.html" %}

{% block title %}
    Bills page
{% endblock %}

{% block lists %}
    {% if role == "owner" %}
        {% include "cafe/owner/navigation_owner.html" %}
    {% endif %}
    {% if role == "barista" %}
        {% include "cafe/owner/navigation_barista.html" %}
    {% endif %}
    {% if role == "admin" %}
        {% include "cafe/owner/navigation_admin.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    <form method="post" action="{% url "cafe:searchBill" %}">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group">
                <select name="selectBarist" class="selectpicker form-control">
                    <option value="?" disabled selected>Choose barist</option>
                    {% for barist in barists %}
                        <option value="{{ barist.ipn }}">{{ barist.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <select name="selectDish" class="selectpicker form-control">
                    <option value="?" disabled selected>Choose dish</option>
                    {% for dish in dishes %}
                        <option value="{{ dish.id }}">{{ dish.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <div class="text-center">
        <a class="btn btn-primary" href="{% url "cafe:add_bill" %}">Add new bill</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Datetime</th>
            <th scope="col">Barist name</th>
            <th scope="col">Detail</th>
        </tr>
        </thead>
        <tbody>
        {% if bills %}
            {% for bill in bills %}
                <tr>
                    <th scope="row">{{ bill.id }}</th>
                    <td>{{ bill.datetime }}</td>
                    <td>{{ bill.barist_name }}</td>
                    <td><a href="{% url "cafe:bill_detail" bill.id %}" class="btn btn-primary">Print</a></td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

{% endblock %}