{% extends "base.html" %}

{% block title %}
    Dishes page
{% endblock %}

{% block lists %}
    {% include "cafe/owner/navigation_owner.html" %}
{% endblock %}

{% block content %}
    {% if dishes %}
        <div class="py-5">
            <div class="container">
                <div class="row">
                    {% for dish in dishes %}
                        <div class="col-sm">
                            <div class="card mb-2" style="width: 18rem; height: 20rem">
                                <div class="card-body">
                                    <h1 class="card-title">{{ dish.name }}</h1>
                                    <p class="card-text">{{ dish.description }}</p>
                                    <p class="card-text">{{ dish.price_for_one }}</p>
                                    <p class="card-text">{{ dish.notes }}</p>
                                    <a href="{% url "cafe:dish_detail" dish.id %}"
                                       class="btn btn-primary">Detail</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% endif %}
    <div class="text-center">
        <a class="btn btn-primary" href="{% url "cafe:add_dish" %}">Add new dish</a>
    </div>
{% endblock %}