{% extends "base.html" %}

{% block title %}
    Dishes page
{% endblock %}

{% block lists %}
    {% if user.role == "owner" %}
        {% include "cafe/owner/navigation_owner.html" %}
    {% endif %}
    {% if user.role == "barista" %}
        {% include "cafe/owner/navigation_barista.html" %}
    {% endif %}
    {% if user.role == "admin" %}
        {% include "cafe/owner/navigation_admin.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.role == "owner" %}
    <div class="text-left py-3">
        <a class="btn btn-primary" href="{% url "cafe:add_dish" %}">Add new dish</a>
    </div>
    {% endif %}
    {% if dishes %}
            <div class="container">
                <div class="row">
                    {% for dish in dishes %}
                        <div class = "col">
                            <div class="card mb-3" style="width: 18rem;">
                                <img class="card-img-top" src="{{dish.image}}" alt="MISSING IMAGE" style="height: 12rem;">
                                {# короче ебать, мы вчера такой стих охуевший придумали #}
                                {# зубы в сале, земля под ногами, вперед мусульмане, здоровья маме! #}
                                {# така вот кухня, оцени по 10 балке #}
                                <div class="card-body">
                                    <h5 class="card-title">{{ dish.name }}</h5>
                                    <p class="card-text">{{ dish.description }}</p>
                                    <p class="btn btn-primary">{{ dish.price_for_one }}</p>
                                    <br>
                                    {% if user.role == "owner" %}
                                    <a class="btn btn-danger" href="{% url "cafe:delete_dish" dish.id %}">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    {% endif %}
{% endblock %}