{% extends "base.html" %}

{% block title %}
    Products page
{% endblock %}
{% block lists %}
   {% include "cafe/owner/navigation_owner.html" %}
{% endblock %}

{% block content %}
    <div class="text-left py-3">
            <a class="btn btn-primary" href="{% url "cafe:add_product" %}">Add new product</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price per kg</th>
        </tr>
        </thead>
        <tbody>
        {% if products %}
            {% for prod in products %}
                <tr>
                    <td>{{ prod.name }}</td>
                    <td>{{ prod.quantity }}</td>
                    <td>{{ prod.price_for_kg }}</td>
                </tr>
                {% if prod.notes %}
                <tr>
                    <td colspan="4"><details><summary>Notes</summary><p>{{ prod.notes }}</p></details></td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No notes.</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}