{% extends "base.html" %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block lists %}
   {% include "cafe/owner/navigation_owner.html" %}
{% endblock %}

{% block content %}
    {% if product %}
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h1 class="card-title">{{ product.name }}</h1>
                <p class="card-text">{{ product.quantity }}</p>
                <p class="card-text">{{ product.price_for_kg }}</p>
                <p class="card-text">{{ product.notes }}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}