{% extends "base.html" %}

{% block title %}
    Products page
{% endblock %}
{% block lists %}
   {% include "cafe/owner/navigation_owner.html" %}
{% endblock %}

{% block content %}
    {% if products %}
        <div class="py-5">
            <div class="container">
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm">
                            <div class="card mb-2" style="width: 18rem; height: 20rem">
                                <div class="card-body">
                                    <h1 class="card-title">{{ product.name }}</h1>
                                    <p class="card-text">{{ product.quantity }}</p>
                                    <p class="card-text">{{ product.price_for_kg }}</p>
                                     <details>
                                        {{ product.notes }}
                                    </details>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% endif %}
    <div class="text-center">
            <a class="btn btn-primary" href="{% url "cafe:add_product" %}">Add new product</a>
        </div>
{% endblock %}