{% extends "base.html" %}

{% block title %}
    Suppliers page
{% endblock %}

{% block lists %}
   {% include "cafe/owner/navigation_owner.html" %}
{% endblock %}

{% block content %}
    <div class="text-left py-3">
            <a class="btn btn-primary" href="{% url "cafe:add_supplier" %}">Add new supplier</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        {% if suppliers %}
            {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.phone }}</td>
                    <td>{{ supplier.email }}</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <details>
                            <summary>Details</summary>
                            <p>EDRPOU: {{ supplier.edrpou }}</p>
                            <p>Address: {{ supplier.address }}</p>
                            <p>Notes: {{ supplier.notes }}</p>
                        </details>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}